*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    font-size: 20px;
}
.nav{
   width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
}
.ul ul{
    display: flex;
list-style: none;
gap: 20px;
font-size: 20px;
}

li a{
    text-decoration: none;
    color: rgb(53, 50, 50);
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
background-color: wheat;
margin: 40px auto;
width: 70%;
border-radius: 10px;
}

.hero-section .right-column img{
width: 400px;
height: 400px;
object-position: center;
object-fit: cover;
border-radius: 10px;
}

.hero-section .left-column{
    width: 50%;
    padding: 5px 20px;
    letter-spacing: 2px;
}
.left-column >*{
    margin-bottom: 20px;
}

.left-column h1{
    font-size: 45px;
}
.left-column p{
    font-size: 20px;
    color: grey;
    line-height: 29px;
}